<div class="header">
    <div class="navbar">
        <ul>
            <li><a href="/">HomePage</a></li>
            <li><a href="/Home/AboutUs">About Us</a></li>
            <li><a href="/Home/ContactUs">Contact Us</a></li>
        </ul>
    </div>
</div>
