@using PersonnelMVCUI.Models.EntityFramework
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/Department/New">New Department</a>
<h2>Department List</h2>
<table class="table table-bordered" id="tblDepartments">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <th>@department.Id</th>
                <th>@department.Name</th>
                <th><a class="btn btn-primary" href="/Department/Update/@department.Id">Update</a></th>
                <th><a class="btn btn-warning btnDeleteDepartment" data-id="@department.Id">Delete</a></th>
            </tr>
        }

    </tbody>
</table>
