@model PersonnelMVCUI.Models.EntityFramework.Department
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form method="post" action="">
        <div class="form-group">
            <label>Deparment Name</label>
            <input type="text" name="Name" class="form-control" value="" /> //---->  name="Name" because, my tables' column name is Name
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>*@

@using (Html.BeginForm("New", "Department", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Add</button>
}

