@model PersonnelMVC.Models.Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    <div> 
        <h1>Hello View</h1>
        <h2>@DateTime.Now</h2>

        <h1>DepartmentId: @Model.Id</h1>
        <h1>DepartmentName: @Model.Name</h1>
    </div>
</body>
</html>
