<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Personnel Management System Total Salary of All Personnels:
                @{Html.RenderAction("TotalSalary", "Personnel");}
            </a>
            Welcome @HttpContext.Current.User.Identity.Name
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Department">Departments</a></li>
            <li><a href="/Personnel">Personnels</a></li>
            @if (User.IsInRole("A"))
            {
                <li><a href="/User">Users</a></li>
            }
            <li><a href="/Security/Logout">Logout</a></li>
        </ul>
    </div>
</nav>
