<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personnel Management System</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Department">Departments</a></li>
            <li><a href="/Personnel">Personnels</a></li>
            <li><a href="#">Sign in</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </div>
</nav>
